
footer {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}
h3{
    font-size: 120px;
    font-family: calc();
    display: flex;
    justify-content: center;
}

.logo{
text-align: center;
}
.imagen{
    width: 350px;
    border: 10px;
}
.footer-menu{
display: flex;
}

ul{
    display: flex;
    text-transform: capitalize;
}
.menu{
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
*{
    margin: 25px;
    padding: 25px;
    box-sizing: border-box;
    list-style: none;
}
